{% extends 'base.html' %}
{% block header %}

{% endblock %}

{% block content %}
<script>
    function display_form() {
            var button = document.getElementById("form_button");
            var from = document.getElementById("form");
            if (button.style.display === "block") {
                button.style.display = "none";
            } 
             if (form.style.display === "none") {
                form.style.display = "block";
            } 
            
    }
</script>
<h4 id='message' style="margin-bottom: 5%; margin-top:5%; ">{{message}}</h4>
    <button style="display: block" class="btn btn-primary" id="form_button" onclick="display_form()">Buy a Product</button>
    <div id="form" style="display: none">
    <form method="POST" >
        <div class="form-group">
            <br />
            <label for="id">Enter the id of the product you wish to buy</label>
            <br />
            <input class="form-control" type="number" name="id" id="id" placeholder= "id here">
            <br />
            <button class="btn btn-primary" id = "order" type="submit">Order</button>
            <br />
            <br />
            </div>
    </form>
    </div>
    <br>
    {% for product in products %}
    <div>
        <h4>ID: {{ product.id }}<br />Title: {{ product.title }}<br />Description: {{ product.description }}<br />Type: {{ product.product_type }}<br />Price: {{ product.price }}<br /></h4>
        <h4>-----------------------------------</h4>
    
    </div>
    
    {% endfor %}
<br />
<br />

{% endblock %}